<div id="commentModal" class="comment-modal">
    <div class="comment-modal-content d-block ">
        <div class="modal-comment-upcontent">
            <span class="close">&times;</span>
            <div id="modal-locationName" class="comment-location-info d-flex ml-1"></div>
            <div id="modal-stars" class="star d-flex"></div>
            <div id="modal-comment-title" class="comment-title"></div>
            <div id="modal-testimonial" class="testimonial"></div>
        </div>
        <div id="modal-profile" class="profile"></div>
    </div>
</div>