<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-content">
            <div class="footer-logo d-block">
                <a class="navbar-brand" href="/">
                    <img src="images/logo.png" alt="Logo" style="height: 96px;">
                </a>
                <div class="footer-social-icons mr-3">
                    <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/metehansozenli/RotaniKesfet" class="social-icon"><i class="fab fa-github"></i></a>
                </div>
            </div>

            <div class="footer-menu">
                <ul>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Bize Ulaşın</a></li>
                    <li><a href="#">Geliştirenler</a></li>
                    <li><a href="/userGuide">Kullanım Kılavuzu</a></li>
                </ul>
            </div>

            <div class="footer-copyright">
                <p>&copy; 2024 Tüm Haklar Saklıdır.</p>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">