<header>
    <nav class="navbar navbar-expand-lg navbar-light" >
        <a class="navbar-brand" href="index" >
            <img src="images/logo.png" alt="Logo"style="height: 96px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="font-family: sans-serif,Arial;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../kesfet">Keşfet</a>
                </li>
                <li class="nav-item active" data-toggle="modal" data-target="#loginModal">
                    <a href="#" class="nav-link" id="loginButton">Giriş Yap</a>
                </li>
                <li class="nav-item active" data-toggle="modal" data-target="#registerModal">
                    <a href="#" class="nav-link" id="registerButton">Kayıt Ol</a>
                </li>
            </ul>
        </div>
    </nav>
   

</header>

<body>
    <div class="modal fade" id="registerModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Kayıt Ol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1>Hesap Oluşturun</h1>
                    <form action="/register" method="post" id="kayitFormu">
                        <input type="email" name="email" placeholder="email@domain.com" >
                        <input type="text" id="ad" name="ad" placeholder="Ad" >
                        <input type="text" id="soyad" name="soyad" placeholder="Soyad" >
                        <input type="text" id="nickname" name="nickname" placeholder="Kullanıcı Adı" >
                        <input type="text" id="ulke" name="ulke" placeholder="Ülke" >
                        <input type="text" id="telefon-numarasi" name="telefonNumarasi" placeholder="Telefon Numarası" >
                        <input type="password" id="sifre" name="sifre" placeholder="Şifre" >
    
                        <button type="submit" class="buton">Hesap Oluştur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Giriş Yap</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Giriş formu buraya eklenebilir -->
              <div class="container">
                <h1 >Giriş Yapın</h1>
                <h5>Giriş yapmak için e-mail hesabınızı girin</h5>
        
        
                <form action="/login" method="post" id="loginFormu">
                    <label for="email">E-posta:</label>
                    <input type="email" id="email" name="email" placeholder="email@domain.com">
        
                    <label for="password">Şifre:</label>
                    <input type="password" id="password" name="password" placeholder="Şifrenizi girin">
        
                    <button type="submit">Giriş Yap</button>
        
                    <p>Hesabınız yok mu? <a href="#">Üye Ol</a></p>
                </form>
            </div>
            </div>
          </div>
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
