
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index">
            <img src="images/logo.png" alt="Logo" style="height: 96px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="font-family: sans-serif,Arial;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../kesfet">Keşfet</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="...">Seyahatlerim</a>
                </li>
                <li class="nav-item active">
                    <a id="kaydolBtn" class="nav-link" href="../mycomment">Yorumlarım</a>
                </li>
                 <li class="nav-item active">
                    <div class="action">
                    <div class="profile" onclick="menuToggle();">
                      <img src="../images/avatar.jpeg" />
                    </div>
                    <div class="menu">
                      <h3 id="userName">{{userName}} {{userSurname}} <br> @{{userNickname}}</h3>
                      <ul>
                        <li>
                          <img src="../images/user.png" /><a href="#">Profilim</a>
                        </li>
                        <li>
                          <img src="../images/favorite-location-icon.png" /><a href="#">Favori Mekanlarım</a>
                        </li>
                        <li><img src="../images/question.png" /><a href="#">Yardım</a></li>
                        <li>
                          <img src="../images/log-out.png" /><a href="../logout">Oturumu Kapat</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                 </li>
                 
                    
                </ul>
        </div>
    </nav>
</header>

<body>
     
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




