<div class="modal fade" id="registerModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Kayıt Ol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1>Hesap Oluşturun</h1>
                    <form action="/register" method="post" id="kayitFormu"  onsubmit="return validateForm()">
                        <input type="email" name="email" placeholder="email@domain.com" >
                        <input type="text" id="ad" name="ad" placeholder="Ad" >
                        <input type="text" id="soyad" name="soyad" placeholder="Soyad" >
                        <input type="text" id="nickname" name="nickname" placeholder="Kullanıcı Adı" >
                        <input type="text" id="sehir" name="sehir" placeholder="Şehir" >
                        <input type="text" id="ulke" name="ulke" placeholder="Ülke" >
                        <!-- Telefon Numarası Alanı -->
                        <div class="phone-number d-flex">
                            <select id="alan-kodu" name="alanKodu">
                                <option value="90">+90 (Türkiye)</option>
                                <!-- Diğer ülkelerin alan kodlarını buraya ekleyebilirsiniz -->
                            </select>
                            <input type="text" id="telefon-numarasi" name="telefonNumarasi" maxlength="10" placeholder="Telefon Numarası" >
                        </div>
                        <!-- Telefon Numarası Alanı Sonu -->
                        <input type="password" id="sifre" name="sifre" placeholder="Şifre" >
                        <button type="submit" class="buton">Hesap Oluştur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
