<div class="modal fade" id="registerModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Kayıt Ol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1>Hesap Oluşturun</h1>
                    <form action="/register" method="post" id="kayitFormu" onsubmit="return vregisterValidateForm()">
                        <input type="email" name="email" placeholder="email@domain.com">
                        <input type="text" id="ad" name="ad" placeholder="Ad">
                        <input type="text" id="soyad" name="soyad" placeholder="Soyad">
                        <input type="text" id="nickname" name="nickname" placeholder="Kullanıcı Adı">
                        <input type="text" id="sehir" name="sehir" placeholder="Şehir">
                        <input type="text" id="ulke" name="ulke" placeholder="Ülke">
                        <!-- Telefon Numarası Alanı -->
                        <div class="phone-number d-flex">
                            <select id="alan-kodu" class="alanKodu" name="alanKodu">
                                <option value="90" selected >+90 (Türkiye)</option>
                                <option value="355">+355 (Arnavutluk)</option>
                                <option value="376">+376 (Andorra)</option>
                                <option value="43">+43 (Avusturya)</option>
                                <option value="32">+32 (Belçika)</option>
                                <option value="387">+387 (Bosna-Hersek)</option>
                                <option value="359">+359 (Bulgaristan)</option>
                                <option value="385">+385 (Hırvatistan)</option>
                                <option value="357">+357 (Kıbrıs)</option>
                                <option value="420">+420 (Çek Cumhuriyeti)</option>
                                <option value="45">+45 (Danimarka)</option>
                                <option value="372">+372 (Estonya)</option>
                                <option value="358">+358 (Finlandiya)</option>
                                <option value="33">+33 (Fransa)</option>
                                <option value="49">+49 (Almanya)</option>
                                <option value="30">+30 (Yunanistan)</option>
                                <option value="36">+36 (Macaristan)</option>
                                <option value="354">+354 (İzlanda)</option>
                                <option value="353">+353 (İrlanda)</option>
                                <option value="39">+39 (İtalya)</option>
                                <option value="383">+383 (Kosova)</option>
                                <option value="371">+371 (Letonya)</option>
                                <option value="423">+423 (Lihtenştayn)</option>
                                <option value="370">+370 (Litvanya)</option>
                                <option value="352">+352 (Lüksemburg)</option>
                                <option value="389">+389 (Makedonya)</option>
                                <option value="356">+356 (Malta)</option>
                                <option value="377">+377 (Monako)</option>
                                <option value="382">+382 (Karadağ)</option>
                                <option value="31">+31 (Hollanda)</option>
                                <option value="47">+47 (Norveç)</option>
                                <option value="48">+48 (Polonya)</option>
                                <option value="351">+351 (Portekiz)</option>
                                <option value="40">+40 (Romanya)</option>
                                <option value="7">+7 (Rusya)</option>
                                <option value="381">+381 (Sırbistan)</option>
                                <option value="421">+421 (Slovakya)</option>
                                <option value="386">+386 (Slovenya)</option>
                                <option value="34">+34 (İspanya)</option>
                                <option value="46">+46 (İsveç)</option>
                                <option value="41">+41 (İsviçre)</option>
                                <option value="380">+380 (Ukrayna)</option>
                                <option value="44">+44 (Birleşik Krallık)</option>
                            </select>

                            <input type="text" id="telefon-numarasi" name="telefonNumarasi" maxlength="10"
                                placeholder="Telefon Numarası">
                        </div>
                        <input type="password" id="sifre" name="sifre" placeholder="Şifre">
                        <button type="submit" class="buton">Hesap Oluştur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>