<div class="modal fade custom-modal travelStartModal" id="travelStartModal">
  <div class="modal-dialog" style="max-width: 860px;">
    <div class="modal-content travelStartModal-content">
      <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true"><span>&times;</span></button>
      <div class="main-modal" style="display: flex;">
        <div class="calendar-category-container">
          <div class="select-btn" id="select-btn">
            <span class="btn-text">Kategoriler</span>
            <span class="arrow-dwn">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
          <ul class="list-items categoryItems">
            <li class="item">
              <span class="checkbox">
                <i class="fa-solid fa-check check-icon"></i>
              </span>
              <span class="item-text">Tarihi Yerler</span>
            </li>
            <li class="item">
              <span class="checkbox">
                <i class="fa-solid fa-check check-icon"></i>
              </span>
              <span class="item-text">Müzeler</span>
            </li>
            <li class="item">
              <span class="checkbox">
                <i class="fa-solid fa-check check-icon"></i>
              </span>
              <span class="item-text">Restoranlar</span>
            </li>
            <li class="item">
              <span class="checkbox">
                <i class="fa-solid fa-check check-icon"></i>
              </span>
              <span class="item-text">Oteller</span>
            </li>
            <li class="item">
              <span class="checkbox">
                <i class="fa-solid fa-check check-icon"></i>
              </span>
              <span class="item-text">Parklar</span>
            </li>
            <li class="item">
              <span class="checkbox">
                <i class="fa-solid fa-check check-icon"></i>
              </span>
              <span class="item-text">Manzara Noktaları</span>
            </li>
            <li class="item">
              <span class="checkbox">
                <i class="fa-solid fa-check check-icon"></i>
              </span>
              <span class="item-text">Alışveriş Noktaları</span>
            </li>
            <li class="item">
              <span class="checkbox">
                <i class="fa-solid fa-check check-icon"></i>
              </span>
              <span class="item-text">Caddeler&Sokaklar</span>
            </li>
          </ul>
        </div>



        <div class="seyahatAdiveSehirSecme d-block">
          <h3>Seyahat oluşturun</h3>
          <div class="seyahatAdiSec" style="display:inline-block justify-content:start;">

            
            <label for="seyahatAdi">Seyahat Adı</label><br>
            <input class="seyahatadi-input" type="text" id="seyahatAdi" name="seyahatAdi" maxlength="80"
              placeholder="Örneğin Türkiye'de yaz tatili" style="max-width: 700px; height: 60px; border-radius: 5px">
            <br><label for="destinasyon">Destinasyon</label>
            <p>Birden fazla şehir seçmek için şehir adını yazın ve 'enter' tuşuna basın</p>
            <div class="content">
            <ul><input maxlength="20" type="text" spellcheck="false" id="destinasyon-tag" name="destinasyon"
                placeholder="Şehir Ekle">
            </ul>
            </div>

          </div>
          <div class="sehirSecDetaylari">
            <p>*<span>5</span> şehir seçme hakkınız kaldı</p>
            <button>Hepsini kaldır</button>
          </div>


          <div class="container takvim ">
            <form autocomplete="off">
              <div class="input-group input-daterange d-flex">
                <div>
                  <span class="fa fa-calendar" id="fa-1"></span>
                  <input type="text" id="start" class="form-control text-right mr-2">
                  <label class="form-control-placeholder text-left">Başlangıç Tarihi</label>
                </div>

                <div class="d-block">
                  <span class="fa fa-calendar" id="fa-2"></span>
                  <input type="text" id="end" class="form-control text-right ">
                  <label class="form-control-placeholder text-left">Bitiş Tarihi</label>
                </div>
                <button>Seyahat Oluştur</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="./css/travelStartModal.css">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">