<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yorum yazın</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/commentWrite.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- yildizlarla  ilgili css ler elleme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./js/script.js"></script>

</head>

<body>
    {{>config}}



    <div class="comment-write">


        <section class="half left-half ">


            <div class="experience-rating">
                <h3 class="display-5 text-left text-muted" style=" font-family: sans-serif,Arial;">Deneyiminizi
                    nasıl
                    değerlendirirsiniz? </h3>
                <div class="wrapper">

                    <div class="container">
                        <div class="star-container inactive">
                            <i class="fa-regular fa-star"></i>
                            <span class="number">1</span>
                        </div>
                        <div class="star-container inactive">
                            <i class="fa-regular fa-star"></i>
                            <span class="number">2</span>
                        </div>
                        <div class="star-container inactive">
                            <i class="fa-regular fa-star"></i>
                            <span class="number">3</span>
                        </div>
                        <div class="star-container inactive">
                            <i class="fa-regular fa-star"></i>
                            <span class="number">4</span>
                        </div>
                        <div class="star-container inactive">
                            <i class="fa-regular fa-star"></i>
                            <span class="number">5</span>
                        </div>

                        <p id="message"></p>

                    </div>
                </div>
            </div>

            <div class="date-container">
                <h3 class="display-5 text-left text-muted" style=" font-family: sans-serif,Arial;">Ne zaman gittiniz?
                </h3>
                <div class="date-box">
                    <input type="date" id="date" name="date" class="date-box-input">
                </div>

            </div>

            <div class="comment-container">
                <h3 class="display-5 text-left text-muted" style=" font-family: sans-serif,Arial;">Yorumunuzu yazın
                </h3>
                <div class="comment-box">
                    <textarea id="comment-input" class="comment-input"
                        placeholder="Manzaralar muhteşemdi. O kadar çok fotoğraf çektik ki!..."></textarea>
                    <span class="char-counter">0/100</span>
                    <span class="close-icon" onclick="clearComment()">×</span>
                </div>

            </div>


            <div class="submit-container">
                <button id="submit" disabled> Yorumu gönder </button>
                <div id="submit-section" class="hide">
                    <p id="submit-message">Geri dönüşünüz için teşekkürler</p>
                </div>
            </div>


        </section>


        <!-- bu section a resmin olduğu yere yorum yapilacak yerle ilgili resimmi ve adi zamazingosu gelecek  -->
        <section class="half right-half">
            <h2 class="display-5 text-center text-muted" style=" font-size: 38px;font-family: sans-serif,Arial;">Bize deneyiminizden
                bahsedin</h2>

            <div class="" style="text-align: center;">
                <img src="images/yorumyaz.png" alt="Keşfet" class="img-fluid my-4" style="display: inline-block;">
            </div>

        </section>

    </div>

    <script src="./js/commentWrite.js"></script>

    {{>footer}}



</body>




</html>