<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>...</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="./js/script.js"></script>


</head>


<body>

    {{>config}}


    <div class="container ">

        <section class="location-section mt-4 ">

            <div class="location-context d-flex ">
                <div class="align-items-center">
                    <h1 class="text-left">Kolezyum</h1>
                    <div class="d-flex ">
                        <p class="mr-3 text-success">Şu anda açık</p>
                        <p class="mr-3">09.00-19.00</p>
                        <p class="write-comment text-right">Yorum Yazın</p>
                    </div>
                </div>

                <div class="location-info d-flex">
                    <div>
                        <div class="d-flex mb-2">
                            <h5 class="point">4.5</h5>
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h5 class="review-count ">122 Yorum</h5>
                        </div>
                        <div>
                            <div class="extra-info d-block">
                                <div class="mb-2 d-flex"><img src="../images/location.png" />
                                    <p>Piazza del Colosseo, 00184 Roma İtalya</p>
                                </div>
                                <div class="mb-2 d-flex"><img src="../images/time.png" />
                                    <p>3 saatten fazla gezme süresi</p>
                                </div>
                                <div class="mb-2 d-flex"><img src="../images/etiket.png" />
                                    <p>Müze</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fav ml-4 "><img src="../images/fav.png" /></div>
                    </div>
                </div>
            </div>

            <img src="images/kolezyum.jpg" alt="Keşfet" class="img-fluid  d-block mt-4 mb-4 mx-auto"
                style="width: 850px; height: 475px;">


        </section>

        <section class="location-comments mt-4">
            <h1 class="pt-4 text-left ml-4">Yorumlar</h1>
            <div class="location-rating-card">
                <div class="row justify-content-left d-flex">
                    <div class=" d-flex flex-column justify-content-center align-items-center">
                        <div class="rating-box">
                            <h1 class="pt-4">4.0</h1>
                            <p class="text-white">out of 5</p>
                        </div>
                        <div class="">
                            <span class="fa fa-star star-active mx-1"></span>
                            <span class="fa fa-star star-active mx-1"></span>
                            <span class="fa fa-star star-active mx-1"></span>
                            <span class="fa fa-star star-active mx-1"></span>
                            <span class="fa fa-star star-inactive mx-1"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="location-rating-bar0 justify-content-center">
                            <table class="text-left mx-auto">
                                <tr>
                                    <td class="rating-label">Excellent</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">123</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">Good</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">23</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">Average</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-3"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">10</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">Poor</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-2"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">3</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">Terrible</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-1"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment-card">
                <div class="row d-flex">
                    <div class="">
                        <img class="profile-pic" src="https://i.imgur.com/V3ICjlm.jpg">
                    </div>
                    <div class="d-flex flex-column">
                        <h3 class="mt-2 mb-0">@wassapman</h3>
                        <div class="d-flex mb-0">
                            <p class="text-left"><span class="text-muted">4.0</span>
                                <span class="fa fa-star star-active ml-3"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-inactive mr-2"></span>
                            </p>
                            <p class="text-right mt-1"><span class="text-muted">44 Yorum</span>
                        </div>
                        <div class="text-left d-flex " style="margin-top:-18px;">
                            <p class="text-muted">Ankara, Türkiye</p>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <p class="text-muted pt-5 pt-sm-3">10 Sept</p>
                    </div>
                </div>
                <div class="row text-left">
                    <h4 class="blue-text mt-3">"An awesome activity to experience"</h4>
                    <p class="content">If you really enjoy spending your vacation 'on water' or would like to try
                        something new and exciting for the first time.</p>
                </div>
                <div class="row text-left mt-4">
                    <div class="like mr-3 vote">
                        <img src="https://i.imgur.com/mHSQOaX.png"><span class="blue-text pl-2">20</span>
                    </div>
                    <div class="unlike vote">
                        <img src="https://i.imgur.com/bFBO3J7.png"><span class="text-muted pl-2">4</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-card">
                <div class="row d-flex">
                    <div class="">
                        <img class="profile-pic" src="https://i.imgur.com/V3ICjlm.jpg">
                    </div>
                    <div class="d-flex flex-column">
                        <h3 class="mt-2 mb-0">@wassapman</h3>
                        <div class="d-flex mb-0">
                            <p class="text-left"><span class="text-muted">4.0</span>
                                <span class="fa fa-star star-active ml-3"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-inactive mr-2"></span>
                            </p>
                            <p class="text-right mt-1"><span class="text-muted">44 Yorum</span>
                        </div>
                        <div class="text-left d-flex " style="margin-top:-18px;">
                            <p class="text-muted">Ankara, Türkiye</p>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <p class="text-muted pt-5 pt-sm-3">10 Sept</p>
                    </div>
                </div>
                <div class="row text-left">
                    <h4 class="blue-text mt-3">"An awesome activity to experience"</h4>
                    <p class="content">If you really enjoy spending your vacation 'on water' or would like to try
                        something new and exciting for the first time.</p>
                </div>
                <div class="row text-left mt-4">
                    <div class="like mr-3 vote">
                        <img src="https://i.imgur.com/mHSQOaX.png"><span class="blue-text pl-2">20</span>
                    </div>
                    <div class="unlike vote">
                        <img src="https://i.imgur.com/bFBO3J7.png"><span class="text-muted pl-2">4</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-card">
                <div class="row d-flex">
                    <div class="">
                        <img class="profile-pic" src="https://i.imgur.com/V3ICjlm.jpg">
                    </div>
                    <div class="d-flex flex-column">
                        <h3 class="mt-2 mb-0">@wassapman</h3>
                        <div class="d-flex mb-0">
                            <p class="text-left"><span class="text-muted">4.0</span>
                                <span class="fa fa-star star-active ml-3"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-inactive mr-2"></span>
                            </p>
                            <p class="text-right mt-1"><span class="text-muted">44 Yorum</span>
                        </div>
                        <div class="text-left d-flex " style="margin-top:-18px;">
                            <p class="text-muted">Ankara, Türkiye</p>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <p class="text-muted pt-5 pt-sm-3">10 Sept</p>
                    </div>
                </div>
                <div class="row text-left">
                    <h4 class="blue-text mt-3">"An awesome activity to experience"</h4>
                    <p class="content">If you really enjoy spending your vacation 'on water' or would like to try
                        something new and exciting for the first time.</p>
                </div>
                <div class="row text-left mt-4">
                    <div class="like mr-3 vote">
                        <img src="https://i.imgur.com/mHSQOaX.png"><span class="blue-text pl-2">20</span>
                    </div>
                    <div class="unlike vote">
                        <img src="https://i.imgur.com/bFBO3J7.png"><span class="text-muted pl-2">4</span>
                    </div>
                </div>
            </div>



        </section>




    </div>

    {{>footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>


</html>