<!DOCTYPE html>
<html lang="tr">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Yorumlarım</title>
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<script src="./js/script.js"></script>


</head>


<body>

    {{>config}}


    <div class="container ">



        <section class="mycomments mt-4">
            <h1 class="pt-4 text-center  mb-4">Yorumlarım</h1>
            <div class="mycomments-rating-card d-flex justify-content-center">

                <div class="my-ratings d-flex flex-column justify-content-center align-items-center">
                    <h3 class="mb-2 text-center text-muted">Ortalama <br>Puanlamam</h3>
                    <div class="rating-box">
                        <h1 class="pt-4">4.0</h1>

                    </div>
                    <div class="">
                        <span class="fa fa-star star-active mx-1"></span>
                        <span class="fa fa-star star-active mx-1"></span>
                        <span class="fa fa-star star-active mx-1"></span>
                        <span class="fa fa-star star-active mx-1"></span>
                        <span class="fa fa-star star-inactive mx-1"></span>
                    </div>
                </div>
                <div class="justify-content-end">
                    <div class="mycomment-rating-bar0 justify-content-center">
                        <h3 class="mb-4 text-center text-muted">Puan İstatiklerim</h3>
                        <table class="text-left-mx-auto">
                            <tr>
                                <td class="mycomments-rating-label">5<span class="fa fa-star star-active mx-1"></span>
                                </td>


                                <td class="rating-bar">

                                    <div class="bar-container">
                                        <div class="bar-5"></div>
                                    </div>
                                </td>
                                <td class="text-right">123</td>
                            </tr>
                            <tr>
                                <td class="mycomments-rating-label">4<span class="fa fa-star star-active mx-1"></span>
                                </td>
                                <td class="rating-bar">
                                    <div class="bar-container">
                                        <div class="bar-4"></div>
                                    </div>
                                </td>
                                <td class="text-right">23</td>
                            </tr>
                            <tr>
                                <td class="mycomments-rating-label">3<span class="fa fa-star star-active mx-1"></span>
                                </td>
                                <td class="rating-bar">
                                    <div class="bar-container">
                                        <div class="bar-3"></div>
                                    </div>
                                </td>
                                <td class="text-right">10</td>
                            </tr>
                            <tr>
                                <td class="mycomments-rating-label">2<span class="fa fa-star star-active mx-1"></span>
                                </td>
                                <td class="rating-bar">
                                    <div class="bar-container">
                                        <div class="bar-2"></div>
                                    </div>
                                </td>
                                <td class="text-right">3</td>
                            </tr>
                            <tr>
                                <td class="mycomments-rating-label">1<span class="fa fa-star star-active mx-1"></span>
                                </td>
                                <td class="rating-bar">
                                    <div class="bar-container">
                                        <div class="bar-1"></div>
                                    </div>
                                </td>
                                <td class="text-right">0</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="accordion" id="ratingAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <h4 class="text-muted">Filtrele</h4>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Puan <i class="fa fa-caret-down"></i>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#ratingAccordion">
                                <div class="accordion-body">
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1"
                                            checked>
                                        <label class="form-check-label" for="flexCheckDefault1">
                                            <i class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </label>
                                    </div>
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2"
                                            checked>
                                        <label class="form-check-label" for="flexCheckDefault2">
                                            <i class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-secondary"></i>
                                        </label>
                                    </div>
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3"
                                            checked>
                                        <label class="form-check-label" for="flexCheckDefault3">
                                            <i class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-secondary"></i>
                                            <i class="fas fa-star text-secondary"></i>
                                        </label>
                                    </div>
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4"
                                            checked>
                                        <label class="form-check-label" for="flexCheckDefault4">
                                            <i class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-secondary"></i><i
                                                class="fas fa-star text-secondary"></i>
                                            <i class="fas fa-star text-secondary"></i>
                                        </label>
                                    </div>
                                    
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5"
                                            checked>
                                        <label class="form-check-label" for="flexCheckDefault5">
                                            <i class="fas fa-star text-warning"></i><i
                                                class="fas fa-star text-secondary"></i><i
                                                class="fas fa-star text-secondary"></i><i
                                                class="fas fa-star text-secondary"></i>
                                            <i class="fas fa-star text-secondary"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="accordion" id="sortingAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <h4 class="text-muted">Sıralama Seçenekleri</h4>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Sıralama <i class="fa fa-caret-down"></i>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#sortingAccordion">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sortingOption" id="newToOld"
                                            checked>
                                        <label class="form-check-label" for="newToOld">
                                            Ekiden Yeniye
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sortingOption" id="oldToNew">
                                        <label class="form-check-label" for="oldToNew">
                                            Yeniden Eskiye
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sortingOption"
                                            id="ratingDescending">
                                        <label class="form-check-label" for="ratingDescending">
                                            Puana Göre Azalan
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sortingOption"
                                            id="ratingAscending">
                                        <label class="form-check-label" for="ratingAscending">
                                            Puana Göre Artan
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
            </div>

            <div class="comment-card">
                <div class="row d-flex">
                    <div class="">
                        <img class="profile-pic" src="./images/ankara.jpg">
                    </div>
                    <div class="mycomment-info d-flex flex-column">
                        <h3 class="mt-2 mb-0">... Camii</h3>
                        <div class="text-left d-flex ">
                            <p class="text-muted">Ankara, Türkiye</p>
                        </div>
                        <div class="mycomment-comment-ranking d-flex mb-0">
                            <p class="point text-left "><span class="text-muted">4.0</span>
                                <span class="fa fa-star star-active ml-3"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-inactive mr-2"></span>
                            </p>

                        </div>

                    </div>
                    <div class="mycomment-date ml-auto">
                        <p class="text-muted pt-5 pt-sm-3">10 Sept</p>
                    </div>
                </div>
                <div class="row text-left">
                    <h4 class="blue-text mt-3">"An awesome activity to experience"</h4>
                    <p class="content">If you really enjoy spending your vacation 'on water' or would like to try
                        something new and exciting for the first time.</p>
                </div>
                <div class="row text-left mt-4">
                    <div class="like mr-3 vote">
                        <img src="https://i.imgur.com/mHSQOaX.png"><span class="blue-text pl-2">20</span>
                    </div>
                    <div class="unlike vote">
                        <img src="https://i.imgur.com/bFBO3J7.png"><span class="text-muted pl-2">4</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-card">
                <div class="row d-flex">
                    <div class="">
                        <img class="profile-pic" src="./images/ankara.jpg">
                    </div>
                    <div class="mycomment-info d-flex flex-column">
                        <h3 class="mt-2 mb-0">... Camii</h3>
                        <div class="text-left d-flex ">
                            <p class="text-muted">Ankara, Türkiye</p>
                        </div>
                        <div class="mycomment-comment-ranking d-flex mb-0">
                            <p class="point text-left "><span class="text-muted">4.0</span>
                                <span class="fa fa-star star-active ml-3"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-inactive mr-2"></span>
                            </p>

                        </div>

                    </div>
                    <div class="mycomment-date ml-auto">
                        <p class="text-muted pt-5 pt-sm-3">10 Sept</p>
                    </div>
                </div>
                <div class="row text-left">
                    <h4 class="blue-text mt-3">"An awesome activity to experience"</h4>
                    <p class="content">If you really enjoy spending your vacation 'on water' or would like to try
                        something new and exciting for the first time.</p>
                </div>
                <div class="row text-left mt-4">
                    <div class="like mr-3 vote">
                        <img src="https://i.imgur.com/mHSQOaX.png"><span class="blue-text pl-2">20</span>
                    </div>
                    <div class="unlike vote">
                        <img src="https://i.imgur.com/bFBO3J7.png"><span class="text-muted pl-2">4</span>
                    </div>
                </div>
            </div>




        </section>

    </div>

    {{>footer}}

</body>

<style>
     h4 {
   
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.accordion-button {
    background-color: #ab7e15;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.accordion-button.collapsed {
    background-color: #FBC02D;
}

.accordion-button:hover {
    background-color: #ab7e15;
}


    .location-section {
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .mycomments {
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .location-context .ratings {
        margin-right: 15px;
    }

    .location-context .ratings i {
        color: #cecece;
        font-size: 25px;
    }


    .location-context .review-count {
        font-weight: 500;
        margin-bottom: 2px;
        font-size: 20px !important;

    }

    .location-context .point {
        font-weight: 500;
        font-size: 25px !important;
        margin-top: -3px;
        margin-right: 10px;
    }



    .mycomments-rating-card {
        border: hidden;
        background-color: #fff;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .mycomment-date {
        font-size: 20px;
    }

    .location-context {
        margin: 40px 64px;
        font-weight: bold;
        color: black;
        justify-content: space-between;
    }

    .location-context h1 {
        font-size: 48px;
    }

    .rating-box {
        width: 130px;
        height: 110px;
        margin-right: auto;
        margin-left: auto;
        background-color: #FBC02D;
        color: #fff;
        text-align: center;
    }

    .mycomments-rating-label {

        font-weight: bold;

    }

    /* Rating bar width */
    .rating-bar {
        width: 300px;
        padding: 8px;
        border-radius: 5px;
    }

    /* The bar container */
    .bar-container {
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        color: white;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 5px;
    }

    /* Individual bars */
    .bar-5 {
        width: 70%;
        height: 13px;
        background-color: #FBC02D;
        border-radius: 20px;

    }

    .bar-4 {
        width: 30%;
        height: 13px;
        background-color: #FBC02D;
        border-radius: 20px;

    }

    .bar-3 {
        width: 20%;
        height: 13px;
        background-color: #FBC02D;
        border-radius: 20px;

    }

    .bar-2 {
        width: 10%;
        height: 13px;
        background-color: #FBC02D;
        border-radius: 20px;

    }

    .bar-1 {
        width: 0%;
        height: 13px;
        background-color: #FBC02D;
        border-radius: 20px;

    }

    .text-left-mx-auto td {
        padding-bottom: 10px;

    }



    .mycomment-info {
        font-size: 24px;
    }

    .star-active {
        color: #FBC02D;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .star-active:hover {
        color: #F9A825;
        cursor: pointer;
    }

    .star-inactive {
        color: #CFD8DC;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .blue-text {
        color: #0091EA;
    }

    .content {
        font-size: 18px;
    }


    .comment-card {
        border: hidden;
        background-color: #fff;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .profile-pic {
        width: 240px;
        height: 160px;
        object-fit: cover;
        margin-right: 30px;
    }




    .mycomments hr {
        border-top: 1px solid #ccc;
        /* Çizgi rengi ve kalınlığı */
        margin: 20px 0;
        /* Çizginin üst ve alt boşlukları */
    }

    .location-context img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        object-fit: cover;
    }



    .location-context .fav img {
        width: 64px !important;
        height: 64px !important;
        object-fit: cover;
        margin-top: -15px;
    }

    .location-context .extra-info p {
        opacity: 0.8;
        font-weight: normal;

    }

    .location-context .location-info {

        margin: -30px -40px;
    }

    .mycomments-rating-card .my-ratings {
        margin-right: 200px;
    }
</style>

</html>