/* CSS Kodları */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 62%;
  height: 100%;
}

.close {
  color: #2aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  width: 70px;
  margin: 80px auto 30px;
}

.menu-container {
  position: absolute;
  left: 0;
  /* Sol kenara yerleştir */
  top: 0;
  padding: 20px;
  /* Kenarlardan içeriye biraz boşluk bırak */
  background-color: #ffffff;
  /* Arka plan rengini ayarla */
  border-right: 1px solid #ddd;
  /* Sağ kenara bir çizgi ekle */
}

.btn-select {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-select .btn-text {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

.btn-select .arrow-down {
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background-color: #4070f4;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.btn-select.open .arrow-down {
  transform: rotate(-180deg);
}

.list-items {
  position: relative;
  margin-top: 15px;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* Kategoriler varsayılan olarak açık olacak şekilde değiştirildi */
}

.list-items .item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
  margin-right: -16px;
  /* Sol tarafta yaslamak için */
}

.list-items .item:hover {
  background-color: #e7edfe;
}

.item .item-text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
  background-color: #4070f4;
  border-color: #4070f4;
}

.checkbox .check-icon {
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.item.checked .check-icon {
  transform: scale(1);
}








.container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.seyahatadi-input {
  padding: 10px 15px !important;
  border: 1px solid lightgrey !important;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff !important;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px;

}

input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #512DA8;
  outline-width: 0;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #BDBDBD;
}

::-ms-input-placeholder {
  color: #BDBDBD;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.datepicker {
  background-color: #fff;
  border: none;
  border-radius: 0 !important;
}

.datepicker-dropdown {
  top: 0;
  left: 0;
}

.datepicker table tr td.today,
span.focused {
  border-radius: 50% !important;
  background-image: linear-gradient(#FFF3E0, #FFE0B2);
}

.datepicker table tr td.today.range {
  background-image: linear-gradient(#eeeeee, #eeeeee) !important;
  border-radius: 0 !important;
}

/*Weekday title*/
thead tr:nth-child(3) th {
  font-weight: bold !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dow,
.old-day,
.day,
.new-day {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0px !important;
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
  border-radius: 50% !important;
  background-color: #eee;
}

.active {
  border-radius: 50% !important;
  background-image: linear-gradient(#90CAF9, #64B5F6) !important;
  color: #fff !important;
}

.range-start,
.range-end {
  border-radius: 50% !important;
  background-image: linear-gradient(#FFA726, #FFA726) !important;
}

.prev,
.next,
.datepicker-switch {
  border-radius: 0 !important;
  padding: 10px 10px 10px 10px !important;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
  background-color: inherit !important;
  opacity: 1;
}

.btn-black {
  background-color: #36a1c5 !important;
  color: #fff !important;
  width: 100%;
}

.btn-black:hover {
  color: #fff !important;
  background-color: #000 !important;

}

.flex-sm-row {
  position: absolute;
  top: 60%;
  left: 270px;
}





/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: #fff;
  background: #36a1c5;
}

.form-group-des {
  width: 640px;
  background: #ffffff;
  border-radius: 10px;

}

.form-group-des :where(.title, li, li i, .details) {
  display: flex;
  align-items: center;
}

.form-group-des .content {
  margin: 10px 0;
}

.form-group-des p {
  opacity: 0.3;
  font-size: small;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}

.content ul li {
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}

.content ul li i {
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}

.content ul input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.form-group-des .details {
  justify-content: space-between;
}

.details p {
  opacity: 0.3;
  font-size: small;
}

.details button {
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #36a1c5;
  transition: background 0.3s ease;
}

.details button:hover {
  background: #36a1c5;
}