.location-section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.location-comments {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.location-context .ratings {
    margin-right: 15px;
}

.location-context .ratings i {
    color: #cecece;
    font-size: 25px;
}


.location-context .review-count {
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 20px !important;

}

.location-context .point {
    font-weight: 500;
    font-size: 25px !important;
    margin-top: -3px;
    margin-right: 10px;
}



.location-rating-card {
    margin-top: 40px;
    display: flex;
    justify-content: end !important;
    align-items: center;
}

.location-context {
    margin: 40px 64px;
    font-weight: bold;
    color: black;
    justify-content: space-between;
    
}


.location-rating-card .comment-score {
    width: 140px;
    height: 140px;
    background-color: #FBC02D;
    color: #fff;
    font-size: 48px;
    display: flex; /* Flexbox kullanarak içeriği düzenle */
    align-items: center; /* Dikey hizalama */
    justify-content: center; /* Yatay hizalama */
    
}





.location-rating-card .rating-bar {
    justify-content: center;
    text-align: center;
}

.location-comments hr {
    border-top: 1px solid #ccc;
    /* Çizgi rengi ve kalınlığı */
    margin: 20px 0;
    /* Çizginin üst ve alt boşlukları */
}

.blue-text {
    color: #0091EA;
}


.location-context img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    object-fit: cover;
    cursor: none;
}


.large-font {
    font-size: xxx-large;
}

.active-star {
    color: #FBC02D !important;
    margin-bottom: 8px;
}



.comment-stars span {
    color: #cecece;
}

ion-icon {
    fill: transparent;
    stroke: rgb(0, 0, 0) !important;
    stroke-width: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left:20px;
}

ion-icon.active {
    animation: like 0.5s 1;
    fill: red;
    stroke-width: 0px;

}

@keyframes like {
    0% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes like {
    0% {
        -webkit-transform: scale(1);
    }

    90% {
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1.1);
    }
}

.location-context .extra-info p {
    opacity: 0.8;
    font-weight: normal;

}

.location-context .location-info {

    margin: -30px -40px;
}

.location-context .write-comment {
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
    margin-top: -1px;
}

.location-rating-bar0 .rating-label {
    font-weight: bold;
}

/* Rating bar width */
.location-rating-bar0 .rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

/* The bar container */
.location-rating-bar0 .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

/* styles.css */

:root {
    --percentageOfExcellent: 0%; /* Varsayılan değer */
    --percentageOfGood: 0%;
    --percentageOfAverage: 0%;
    --percentageOfPoor: 0%;
    --percentageOfTerrible: 0%;
}

.location-rating-bar0 .bar-5 {
    width: var(--percentageOfExcellent);
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;
}

.location-rating-bar0 .bar-4 {
    width: var(--percentageOfGood);
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;
}

.location-rating-bar0 .bar-3 {
    width: var(--percentageOfAverage);
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;
}

.location-rating-bar0 .bar-2 {
    width: var(--percentageOfPoor);
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;
}

.location-rating-bar0 .bar-1 {
    width: var(--percentageOfTerrible);
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px;
}


.location-rating-bar0 td {
    padding-bottom: 10px;
}

.location-comments .star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px;
}

.location-comments .star-active:hover {
    color: #F9A825;
    cursor: pointer;
}

.location-comments .star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px;
}



.location-comments .comment-card {
    font-size: 18px;
}

.location-comments .comment-card .content{
    text-align: justify;
}


.location-comments .comment-card {
    border: hidden;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.location-comments .profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 30px;
}


.likeBtn,
.dislikeBtn {
    cursor: pointer;
    outline: 0;
    color: #AAA;
    background: none;
    border: none;
}

.likeBtn:focus,
.dislikeBtn:focus {
    outline: none;
}

  
 .voteActive{
    color: #1b9cfc;
    transform: scale(1.1);
  }
  