.dropdownsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.calendar-category-container{
    width: 250px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.calendar-category-container .select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.calendar-category-container .select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}
.calendar-category-container .select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #36A1C5;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.calendar-category-container .select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 265px;
    overflow: hidden;
    overflow-y: scroll;
}

.calendar-category-container .select-btn.open ~ .list-items{
    display: block;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.list-items .item:hover{
    background-color: #e7edfe;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
}
.checkbox .check-icon{
    color: #fff;
    margin-top: 2px;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}

.calendar-category-container{
  margin-top: 1%;
  margin-left: 0%;

}

.cityRoute-mainContent{
    margin-bottom: 50px;
}

.cityRoute{
    margin-bottom: 50px;
}



.leaderboard {
    max-width: 1040px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
    background-color: #fff;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 50px !important;
    margin: 0px 50px ;
}

.leaderboard header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    max-width: 1000px;
    width: 100%;
    /*background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, .33) 10%, rgba(54, 89, 219, .33) 17%), linear-gradient(to right, #5b7cfa, #3659db);*/
    background-position-x: center;
    background-position-y: top;
    color: #fff;
    --start: 35%;
}

.cityRoute-day header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 1000px;
    width: 100%;
   
    
    color: #36A1C5;
    margin-bottom: 10px;
}

.leaderboard__title {
    text-transform: uppercase;
    text-align: center;
}

.leaderboard__title--top {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6.5px;
}

.leaderboard__title--bottom {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3.55px;
    opacity: .65;
}

.leaderboard__profiles {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
}

.leaderboard__profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
    background-color: #fff;
}


.picture {
    width: 55px; 
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}


.leaderboard__name {
    color: #979cb0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.64px;
    margin-left: 12px;
}

.leaderboard__value {
    color: #36A1C5;
    font-weight: 700;
    font-size: 34px;
    text-align: right;
}

.leaderboard__value > span {
    opacity: .8;
    font-weight: 600;
    font-size: 13px;
    margin-left: 3px;
}





#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
}
/* Sayfa yüklendiğinde yüklenme ekranını gizle */
body.loaded #loading-screen {
    display: none;
}
/* İçeriği başlangıçta gizle */
#content {
    display: none;
}
/* Sayfa yüklendiğinde içeriği göster */
body.loaded #content {
    display: block;
}
/* Loader Styles */
.loaderContainer {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageloader {
    height: 20px;
    width: 250px;
    position: relative;
    margin-bottom: 20px;
}

.loader--dot {
    animation: loader 3s ease-in-out infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot:nth-child(1) {
    background-color: #8cc759;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}

.loader--text {
    position: relative;
    width: 10rem;
    text-align: center;
    font-weight: bold;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(230px);
    }

    65% {
        transform: translateX(230px);
    }

    95% {
        transform: translateX(0);
    }
}



 /*--------------------------------Pop-up-------------------------------------*/
 .leaflet-popup-content-wrapper {
    max-width: 250px;

    padding: 10px;
}

.leaflet-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaflet-popup-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.leaflet-popup-content h3 {
    margin: 5px 0;
}


div.leaflet-routing-alternatives-container {
    display: none !important;
}

.leaflet-routing-container {
    display: none;
}

.routePlanner {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.routePlanner.mt-4 {
    margin-bottom: 20px;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.routePlanner-map1 {
    margin-top: 45px;
    border-radius: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.routePlanner p {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

.routePlanner .btn-save,
.routePlanner .btn-back {
    width: 140px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #36A1C5;
    color: aliceblue;
}

.routePlanner .btn-update {
    border-radius: 8px;
    background-color: #36A1C5;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}


.cityRoute {
    margin-bottom: 80px;
}

.cityRoute-locations {
    width: 580px;
    max-height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
}


.cityRoute-upcontent {
    align-items: center !important;
    justify-content: space-between;
}

.cityRoute-upcontent h3 {
    margin-left: 60px;
    font-size: 36px;
}

.cityRoute-upcontent img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}


.cityRoute-transports {
    margin-right: 60px;
}

.cityRoute-mainContent {
    justify-content: center;
    align-items: center;
}

.cityRoute-mainContent .routePlanner-map {
    width: 500px;
    height: 350px;


    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    outline-style: none;
}

.cityRoute-list {
    list-style-type: none;
    margin-left: 50px;
    padding: 0px;
    width: 100%;
}

.cityRoute-list li {
    padding: 14px;
    border-radius: 10px;
    /* İstediğiniz yuvarlama miktarını ayarlayın */
    background-color: #f0f0f0;
    /* İçeriğin arka plan rengi */
    margin-bottom: 10px;
    width: 500px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
}

.cityRoute-content {
    display: flex;
    flex-direction: column;
    /* Dikey yönde sıralar */
    /* Yatayda ortalar */
    justify-content: center;
    /* Dikeyde ortalar */
}

.route-title {
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 60px;
    font-size: 42px;
    font-weight: bold;
}

.clusters hr {
    margin-bottom: 30px;

}


.btn-text {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    vertical-align: middle;

}